[Unit]
Description=MicroBlog Server
After=network.target

[Service]
Type=forking
User=util-share
Group=util-share
WorkingDirectory=/home/util-share/utilshare
ExecStart=/home/util-share/utilshare/bin/utilshare start
ExecStop=/home/util-share/utilshare/bin/utilshare stop
Restart=on-failure
RestartSec=5
Environment=PORT=5000
Environment=LANG=en_US.UTF-8
SyslogIdentifier=utilshare
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target